<!doctype html>
<div class="BigContainer">
  <div class="container">
    <header class="header">
      <img
        class="images"
        src="../assets/images/Logo-SAT-Tecnologia-vazado.png" routerLink="/" title="Voltar para o menu"
      />
    </header>
    <div class="botao">
      <button class="btn" type="button" routerLink="/cria">
        Cadastrar cliente
      </button>
      <button class="btn" type="button" routerLink="/clientes">
        Lista de clientes
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
